hr.divide {
  background-color: #3aaa35;
  border: 1px solid #3aaa35;
  box-shadow: none;
}
hr.divide.top {
  margin-top: 70px;
  margin-bottom: 30px;
}
hr.divide.bottom {
  margin-top: 200px;
}
footer {
  text-align: center;
}
body a {
  color: #3aaa35;
}
footer a:hover {
  color: #3aaa35;
}
body {
  padding: 58px 4% 4% 4%;
  background-image: url(../img/biopinio-logo.png);
  background-repeat: no-repeat;
  background-position: 6% 5px;
}
html body.disconnected {
  opacity: 1;
  background-color: white;
}
.back {
  height: 130px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
}
.logout {
  position: absolute;
  top: 86px;
  right: 4%;
  padding-right: 15px;
  color: #3aaa35;
}
body table.data td[align=right] {
  font-family: sans-serif;
}
.widget1 {
  float: left;
  background-color: #fbfbfb;
  margin-bottom: 20px;
  border: 1px solid #eee;
}
.progress-meter .background {
  fill: #eee;
}

.progress-meter .foreground {
  fill: #3aaa35;
}

.progress-meter text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.irs .irs-to, .irs .irs-from, .irs .irs-bar, .irs .irs-single {
  background-color: #3aaa35;
}

#ss-overlay {
  display: none;
}

#ss-connect-dialog {
  display: none;
}

.reload-hint {
  display: none;
}

.screen-save {
  display: none;
}

.disconnected .reload-hint {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 30%;
  margin-left: 26%;
  margin-right: 30%;
  padding: 6%;
  background-color: white;
  color: #3aaa35;
  opacity: 1;
  font-weight: bold;
}

.disconnected .screen-save {
  display: block;
  position: fixed;
  z-index: 1000;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-color: gray;
  opacity: 0.3;
}
.comment {
  padding: 1% 6%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.hint {
  padding: 1% 3%;
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 0.9em;
}
.hint a {
  padding-left: 2%;
}
.comment .previous {
  position: absolute;
  left: 5px;
  max-width: 5%;
}
.comment .next {
  position: absolute;
  right: -4px;
  max-width: 5%;
}
.comment img {
  max-width: 66%;
}
.list-group-item.comment img,
.comment .comment-html > img {
  border: 3px solid #eee;
  border-radius: 3px;
  vertical-align: top;
  float: left;
  margin-right: 5px
}
.comment-info {
  position: absolute;
  height: 10px;
  top: 3px;
  font-size: 0.7em;
  width: 88%;
}
.comment-html {
  flex: auto;
  align-self: stretch;
  padding-top: 0.7em;
}
.comment-conclusion {
  padding: 12px;
}
.conclusion {
  position: relative;
}
.conclusion .link {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -10px;
}
.conclusion .comment > span {
  margin-right: 105px;
}
#radioButtons {
  max-height: 750px;
  overflow-y: scroll;
}
#radioButtons #question {
  padding: 0 2px;
}
